

<div class="gap-2 twt__container flex">
  <div class="tweet-img">
  <%=image_tag current_user.avatar_attachment_path, class:"tweet-img" %>
  </div>
  <%= form_with model: comment, class: "full-width" do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_area :body, class: "input_text_content", placeholder: "Remember to thing before write..." %>
  </div>

  <%= form.hidden_field :tweet_id, value: tweet.id %>
  
  <div class="flex-end">
    <%= form.submit "Comment", class:"button button--secondary"%>
  </div>
  <% end %>
</div>