<div class="gap-2 twt__container flex">
  <div class="tweet-img">
  <%=image_tag tweet.user.avatar_attachment_path, class:"tweet-img"%>
  </div>
  <div class="full-width">
    <div class="flex gap-2">
      <strong><%= tweet.user.name%></strong>
      <div class="gray-200">@<%= tweet.user.username%></div>
      <div class="gray-200"><%= time_ago_in_words(tweet.created_at)%></div>
    </div>
    <%= link_to tweet.body, tweet %>
    <div class="article-card__header">
      <div class="flex gap-2">
        <%=image_tag('icons/Comment.svg') %>
        <p><%= tweet.comments_count %></p>
      </div>
      <div class="flex gap-2">
        <%=button_to image_tag('icons/trash.svg'), tweet, method: :delete, data: { turbo: "false" }, class:"button--subtle" if tweet.user == current_user%>
        <%=link_to image_tag('icons/pencil.svg'), edit_tweet_path(tweet) if tweet.user == current_user%>
      </div>
    </div>
  </div>
</div>