<p style="color: green"><%= notice %></p>

<h1 class="heading text-center mb-4">Tuit Detail</h1>

<%= render @tweet %>

<%= render "comments/form", comment: @comment, tweet: @tweet if user_signed_in?%>

<% unless @tweet.comments_count == 0 %>
  <% @tweet.comments.each do |comment|%>
    <%= render "comments/comment", comment: comment %>
  <% end %>
<% end %>
<%# ///////////////////////////////////// %>

<%# ///////////////////////////////////// %>
<div class="flex primary-color content-center mt-4">
  <%= link_to "Back", "/" %>
</div>





