<h2 class="heading text-center mb-4">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input__content mb-2" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "input__content mb-2" %>
  </div>

  <div class="flex content-center mb-2">
    <%= f.submit "Submit", class:"button button--secondary" %>
  </div>
<% end %>
  <div class="flex content-center">
    <%= render "devise/shared/links" %>
  </div>